version = 1

[[analyzers]]
name = "javascript"
enabled = true

  [analyzers.meta]
  environment = ["browser", "nodejs"]

exclude_patterns = [
  "dist/**",
  "releases/**",
  "CHANGELOG.md",
  "**/*.min.js",
  "**/*.bundle.js"
]
